body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 a {
    text-decoration: none;
 }
 
 .header {
     display: flex;
     position: relative;
     gap: 300px;
     margin-top: 20px;
     margin-bottom: 20px;
 }
 
 .logo1 {
     width: 350px;
     margin-left: 30px;
     margin-top: 30px;
 }
 
 .add {
     display: block;
 }
 
 .link {
     display: flex;
     background-color: lightgray;
     padding-left: 20px;
     padding-bottom: 10px;
     border-radius: 50px 0 0 50px;
 }
 
 .loc {
     width: 35px;
     height: 35px;
     margin-top: 20px;
 }
 
 .local {
     margin-left: 20px;
     margin-top: 30px;
     font-weight: bold;
 }
 
 .icon {
     width: 20px;
     height: 20px;
     margin-left: 20px;
     margin-top: 30px;
     border-radius: 60px;
 }
 
 .hamburger span {
     width: 20px;
     height: 3px;
     background-color: #333;
     display: block;
     margin-top: 4px;
 }
 
 .nav-list {
     margin-right: 150px;
     margin-top: 20px;
     display: flex;
     gap: 30px;
 }
 
 .nav-list a {
     color: blueviolet;
     font-weight: bold;
     font-size: 18px;
 }
 
 .nav-list a:hover {
    border-bottom: 2px solid;
    color: rgb(0, 183, 255);
    border-color: rgb(0, 183, 255)t;
 }
 
 .hamburger {
     display: none;
     margin-top: 20px;
     margin-right:50px;
 }
 
 .background {
     background-image: url(../public/service-background.png);
     background-repeat: no-repeat;
     background-size: cover;
     display: block;
     text-align: center;
     width: 100%;
     height: 700px;
 }

 h1 {
    color: white;
    font-size: 40px;
    padding-top: 300px;
    font-size: 50px;
}
 
 .link2 a {
    color: blue;
    font-size: 20px;
    font-weight: bold;
 }

 .button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #4070f4;
    border-radius: 6px;
    margin: 14px;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background: #265DF2;
}

 .services {
    text-align: center;
}

 .brief {
    font-size: 40px;
    margin-top: 0px;
    padding-top: 0px;
}

.our {
    font-size: 20px;
    margin-top: 30px;
    color: blueviolet;
    font-weight: bold;
    margin-bottom: 30px;
}

 .detail {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

h3 {
    color: blue;
}

.sicon {
    width: 90px;
}

.sd {
    padding: 10px;
    border-radius: 10px;
    width: 350px;
    height: 350px;
}

.sd:hover {
    background-color: red;
    background-image: linear-gradient(blueviolet, white);
    box-shadow: 10px 10px 5px #aaaaaa;
    border: none;
}

 footer {
    background-color: rgb(1, 1, 17);
    background-size: cover;
}

.foot {
    display: flex;
    gap: 70px;
}

.d1, .about, .team, .progress, .by {
    display: flex;
}

.com, .tlink {
    display: block;
}

.icon1 {
    width: 32px;
    height: 32px;
    border-radius: 60px;
    margin-top: 40px;
    margin-left: 40px;
}

h2 {
    color: white;
}

.tlink a {
    font-weight: bold;
    font-size: 14px;
    color: white;
}

h2 {
    color: blueviolet;
}

.icon2 {
    width: 25px;
    height: 25px;
    border-radius: 60px;
    margin-top: 10px;
}

.d1 p{
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 20px;
}

.opay {
    color: white;
    font-weight: bold;
    font-size: 14px;
}

input, textarea {
    margin-top: 10px;
    width: 80%;
    margin-bottom: 10px;
}

input {
    height: 30px;
}

textarea {
    width: 300px;
    margin-right: 20px;
}

.b2 {
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    width: 90px;
    height: 30px;
}

.sootiic-tech {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .nav-list {
        display: none;
    }

    .hamburger, .team, .detail {
        display: block;
    }

    .logo1 {
        margin-left: 18px;
    }

    .header {
       gap: 10px;
    }

    .hamburger {
       margin-top: 70px;
    }

    .link {
       display: none;
    }

    .detail, .sd {
       margin-bottom: 50px;
       width: 350px;
       margin-left: 18px;
    }


    .ds {
       margin-bottom: 20px;
       height: 450px;
    }

    .ds .sicon {
       width: 300px;
    }

    .foot {
       display: block;
       text-align: center;
    }

    .d1 {
       margin-left: 90px;
    }
}